<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout/layout-default}">

<head>
	<link th:href="@{/vendors/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css}" rel="stylesheet" type="text/css">
</head>

<h3 layout:fragment="page-title-left">Usuário</h3>

<div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search" layout:fragment="page-title-right">
	<div class="input-group">
		<div></div>
		<span class="input-group-btn">
			<a class= "btn btn-default" th:href="@{/usuario}">
				<i class="glyphicon glyphicon-search"></i> 
				<span class="hidden-xs hidden-sm">Pequisar</span>
			</a>
		</span>
	</div>
</div>

<div class="row" layout:fragment="content">
	
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_content">
				<form method="POST" th:object="${usuario}" class="form-horizontal">
				
					<div th:replace="layout/fragment/mensagens :: messages"></div>
			
					<input type="hidden" th:field="*{id}" />
					
					<div class="col-xs-12 col-sm-4 form-group">
			      		<label for="nome">Nome</label>
			      		<input class="form-control" id="nome" th:field="*{nome}" maxlength="50">
					</div>
					
					<div class="col-xs-12 col-sm-4 form-group">
			      		<label for="nome">Login</label>
			      		<input class="form-control" id="login" th:field="*{login}" maxlength="50">
					</div>
					
					<div class="col-xs-12 col-sm-4 form-group">
			      		<label for="nome">Email</label>
			      		<input class="form-control" id="email" th:field="*{email}" maxlength="100">
					</div>
	                
	                <div class="col-xs-12 col-sm-4 form-group">
						<label for="senha">Senha</label>
						<input id="senha" type="password" class="form-control" th:field="*{senha}" />
					</div>
		
					<div class="col-xs-12 col-sm-4 form-group">
						<label for="confirmacaoSenha">Confirmação de senha</label>
						<input id="confirmacaoSenha" type="password" class="form-control" th:field="*{confirmacaoSenha}" maxlength="50" />
					</div>
					
					 <div class="col-xs-12 col-sm-4 form-group">
	                    <label for="status">Status</label>
	                    <div>
							<input id="status" type="checkbox" class="form-control ja-status" data-size="small" 
								data-on-color="success" data-off-color="danger" 
								data-on-text="Ativo" data-off-text="Inativo" th:field="*{status}" />
	                    </div>
	                </div>
					
			  		<div class="form-group">
						<div class="col-xs-12">
							<button class="btn btn-primary" type="submit">Salvar</button>
							<a class="btn btn-default" th:href="@{/usuario}">Cancelar</a>
						</div>
					</div>
			  		
				</form>
			</div>
		</div>
	</div>

</div>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/vendors/jquery.inputmask/dist/jquery.inputmask.bundle.min.js}"></script>

	<script th:src="@{/vendors/bootstrap-switch/dist/js/bootstrap-switch.min.js}"></script>
	<script th:src="@{/project/js/ja-status.js}"></script>
</th:block>



</html>
