<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout/layout-default}">

<div layout:fragment="content">
	<div class="card mb-4">
        <div class="card-header bg-white font-weight-bold">
            Pesquisa de período
        </div>
    </div>
    
    <div class="card-body">
				
		<th:block th:each="item : ${periodos}">
			[[${item.dataInicial}]]
		</th:block>
	        
   	</div>
	
</div>

</html>
