<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout/layout-default}">

<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/vendors/bootstrap-switch.min.css}"/>	
	<link rel="stylesheet" type="text/css" th:href="@{/css/vendors/bootstrap-datepicker.standalone.min.css}"/>	
</head>

<div layout:fragment="content">
	<div class="card mb-4">
        <div class="card-header bg-white font-weight-bold">
            Cadastro de período
        </div>
        <form method="POST" th:object="${periodo}" th:action="@{/periodo/novo}">
	        	
        	<div th:replace="layout/fragment/mensagens :: messages"></div>
				
	        <div class="card-body">
				
        		<input type="hidden" th:field="*{id}" />
        
                <div class="row">
	                <div class="col col-sm-3 mb-3">
	 	               <label for="dataInicial">Data Inicial</label>
	                   <input type="text" class="form-control js-date" id="dataInicial" th:field="*{dataInicial}" autocomplete="off">
	                </div>
	                
	                <div class="col col-sm-3 mb-3">
	 	               <label for="dataFinal">Data Final</label>
	                   <input type="text" class="form-control js-date" id="dataFinal" th:field="*{dataFinal}" autocomplete="off">
	                </div>
	                
	                <div class="col col-sm-3 mb-3">
	                    <label for="status">Status</label>
	                    <div>
							<input id="status" name="status" type="checkbox" class="js-status" data-size="small" data-off-color="danger" 
								data-on-text="Ativo" data-off-text="Inativo" th:field="*{status}" />
	                    </div>
	                </div>
                </div>
                
                <div class="row">
	                <div class="col-sm-12 mb-3">
	                    <label for="descricao">Descrição</label>
	                    <textarea class="form-control" id="descricao" rows="6" th:field="*{descricao}"></textarea>
	                </div>
                </div>
	        </div>
	        
	        <div class="card-footer bg-white">
	            <button class="btn btn-primary" type="submit">Salvar</button>
	            <button class="btn btn-danger" type="button">Cancelar</button>
	        </div>
        </form>
    </div>
	
</div>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/js/vendors/jquery.mask.min.js}"></script>
	<script th:src="@{/js/vendors/bootstrap-datepicker.min.js}"></script>
	<script th:src="@{/js/vendors/bootstrap-datepicker.pt-BR.min.js}"></script>
	<script th:src="@{/js/vendors/bootstrap-switch.min.js}"></script>
	<script th:src="@{/js/japroject.js}"></script>
 	<script>
        $(".js-status").bootstrapSwitch();
	</script>
</th:block>

</html>
