<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>

<div class="sidebar sidebar-dark bg-dark" th:fragment="sidebar">
    <ul class="list-unstyled">
        <li><a href="#"><i class="fas fa-home fa-fw"></i> Dashboard</a></li>
        <li><a th:href="@{/data/nova}"><i class="fas fa-book fa-fw"></i> Datas</a></li>
        <li>
            <a href="#sm_expand_config" data-toggle="collapse">
                <i class="fas fa-cog fa-fw"></i> Configurações
            </a>
            <ul id="sm_expand_config" class="list-unstyled collapse">
		        <li><a th:href="@{/status}">Status dos usuários</a></li>
		        <li><a href="#">Usuários</a></li>
            </ul>
        </li>
        <li>
            <a href="#sm_expand_bootadmin" data-toggle="collapse">
                <i class="fa fa-fw fa-link"></i> BootAdmin
            </a>
            <ul id="sm_expand_bootadmin" class="list-unstyled collapse">
		        <li><a href="https://bootadmin.net/demo/docs" target="_blank">Documentação</a></li>
		        <li><a href="https://bootadmin.net/demo/icons" target="_blank">Template</a></li>
            </ul>
        </li>
    </ul>
</div>

</body>
</html>