<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="pagination (pagina)">
	<div class="row" th:if="${not pagina.vazia}">
		<div class="col-sm-5">
			<div class="dataTables_info" id="datatable_info" role="status" aria-live="polite" th:text="|${pagina.quantidadeRegistros} registro(s) encontrado(s)|"></div>
		</div>
		<div class="col-sm-7">
			<div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
				<ul class="pagination" th:with="paginaAtual=${pagina.atual}">
					<li th:class="|paginate_button previous ${pagina.primeira ? 'disabled' : ''}|" id="datatable-keytable_previous">
						<a th:href="${pagina.urlParaPagina(paginaAtual - 1)}" aria-controls="datatable" data-dt-idx="0" tabindex="0">&laquo;</a>
					</li>
					
					<th:block th:each="p : ${#numbers.sequence(1, pagina.quantidadePaginas)}" th:with="numeroPagina=${p - 1}">
						<li th:class="|paginate_button ${paginaAtual == numeroPagina ? 'active' : ''}|">
							<a th:href="${pagina.urlParaPagina(numeroPagina)}" aria-controls="datatable" th:data-dt-idx="${p}" tabindex="0" th:text="${p}"></a>
						</li>
					</th:block>
					
					<li th:class="|paginate_button next ${pagina.ultima ? 'disabled' : ''}|" id="datatable-keytable_next">
						<a th:href="${pagina.urlParaPagina(paginaAtual + 1)}" aria-controls="datatable" th:data-dt-idx="${pagina.quantidadePaginas + 1}" tabindex="0">&raquo;</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</th:block>

</html>