<!DOCTYPE html>
<html lang="pt" 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-default}">

<div class="row" layout:fragment="content">
	<!-- page content -->
	<div class="col-md-12">
		<div class="col-middle">
			<div class="text-center text-center">
				<h1 class="error-number">403</h1>
				<h2>Acesso negado</h2>
				<hr />
				<p>
					O seu perfil não dá acesso a este recurso. <a href="#">Gostaria de reportar?</a>
				</p>
			</div>
		</div>
	</div>
	<!-- /page content -->
</div>

</html>